<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shapeshift</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div class="head">
        <!-- <h1 style=" color:white; font-size: 6.3vw; letter-spacing: 1px; text-align: center;">Welcome  to  Shapeshift</h1> -->
    </div>


    <div class="container">

        <div class="forms">
            <!-- Signup Form -->
            <div class="form signup">
                <span class="title">Registration</span>


                <form action="/register" method="post">

                    <div class="input-field">
                        <input type="text" placeholder="Enter your email" name="email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Enter your name" name="username" required>
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Create a password" name="password"
                            required>
                        <i class=" uil uil-lock icon"></i>
                    </div>
                    <div class="input-field button">
                        <button type="submit">Signup</button>
                    </div>
                </form>
                <div class="login-signup">
                    <span class="text">Already have an account?
                        <a class="text login-link" href="/login">Log In</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="js/login.js"></script> -->
</body>

</html>