<%- include('./partial/header')%>
<div class="fh5co-loader"></div>
	
<div id="page">
<nav class="fh5co-nav" role="navigation">
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <p class="num">Call: + 91 8126692078</p>
                    <ul class="fh5co-social">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="fh5co-logo"><a href="index">Shapeshift</a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li class="active"><a href="index">Home</a></li>
                        <li><a href="gallery">Gallery</a></li>
                        <li><a href="about">Trainer</a></li>
                        <li><a href="pricing">Pricing</a></li>
                        <li>
                            <a href="blog">Blog</a>
                        </li>
                        <li><a href="contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</nav>

<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(https://wallpapers.com/images/high/chris-bumstead-lifting-heavy-dumbbell-5hy47wmggeb8vmie.webp);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1 style="font-weight: 1000; letter-spacing: 1px; font-size: 70px;">Make it a lifestyle, not a duty.</h1>
                        <!-- <h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2> -->
                        <!-- <p><a href="https://vimeo.com/channels/staffpicks/93951774" class="btn btn-primary popup-vimeo">Watch Our Video</a></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="fh5co-services" class="fh5co-bg-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center animate-box">
                <div class="services">
                    <span><img class="img-responsive" src="images/dumbbell.svg" alt=""></span>
                    <h3>Weight Lifting</h3>
                    <p>"I lift heavy, work hard, and aim to be the best."</p>
                    <p><a href="weightlifting" class="btn btn-primary btn-outline btn-sm">More <i class="icon-arrow-right"></i></a></p>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="services">
                    <span><img class="img-responsive" src="images/exercise.svg" alt=""></span>
                    <h3>Running</h3>
                    <p>"NO EXCUSES. A one hour run is 4% of your day. "</p>
                    <p><a href="running" class="btn btn-primary btn-outline btn-sm">More <i class="icon-arrow-right"></i></a></p>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="services">
                    <span><img class="img-responsive" src="images/yoga-carpet.svg" alt=""></span>
                    <h3>Yoga</h3>
                    <p>"Yoga is the journey of the self, through the self, to the self."</p>
                    <p><a href="yoga" class="btn btn-primary btn-outline btn-sm">More <i class="icon-arrow-right"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-trainer">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Fitness Expert</h2>
                <p>“The harder you work and the more prepared you are for something, youre going to be able to persevere through anything.”</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 animate-box">
                <div class="trainer">
                    <a href="#"><img class="img-responsive" src="images/DSC_0261.jpg" alt="trainer"></a>
                    <div class="title">
                        <h3><a href="#">ARYAN UTTAM</a></h3>
                        <span>BODY BUILDING EXPERT</span>
                    </div>
                    <div class="desc text-center">
                        <ul class="fh5co-social-icons">
                            <li><a href="https://www.instagram.com/aryanuttam666/"><i class="icon-instagram"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            <li><a href="#"><i class="icon-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 animate-box">
                <div class="trainer">
                    <a href="#"><img class="img-responsive" src="images/trainer-2.jpg" alt="trainer"></a>
                    <div class="title">
                        <h3><a href="#">Mohit Agarwal</a></h3>
                        <span>Body Building Expert</span>
                    </div>
                    <div class="desc text-center">
                        <ul class="fh5co-social-icons">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 animate-box">
                <div class="trainer">
                    <a href="#"><img class="img-responsive" src="images/trainer-3.jpg" alt="trainer"></a>
                    <div class="title">
                        <h3><a href="#">Nitin Singh</a></h3>
                        <span>Yoga Expert</span>
                    </div>
                    <div class="desc text-center">
                        <ul class="fh5co-social-icons">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div id="fh5co-schedule" class="fh5co-bg" style="background-image: url(images/img_bg_1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <h2>Class Schedule</h2>
            </div>
        </div>

        <div class="row animate-box">
            
            <div class="fh5co-tabs">
                <ul class="fh5co-tab-nav">
                    <li class="active"><a href="#" data-tab="1"><span class="visible-xs">S</span><span class="hidden-xs">Monday</span></a></li>
                    <li><a href="#" data-tab="3"><span class="visible-xs">T</span><span class="hidden-xs">Tuesday</span></a></li>
                    <li><a href="#" data-tab="4"><span class="visible-xs">W</span><span class="hidden-xs">Wednesday</span></a></li>
                    <li><a href="#" data-tab="5"><span class="visible-xs">Th</span><span class="hidden-xs">Thursday</span></a></li>
                    <li><a href="#" data-tab="6"><span class="visible-xs">F</span><span class="hidden-xs">Friday</span></a></li>
                    <li><a href="#" data-tab="7"><span class="visible-xs">S</span><span class="hidden-xs">Saturday</span></a></li>
                </ul>

                

                
                <div class="fh5co-tab-content-wrap">
                    <div class="fh5co-tab-content tab-content active" data-tab-content="1">
                        <ul class="class-schedule">
                            <li class="text-center">
                                <img width="100%" height="100%" src="https://drive.google.com/uc?export=view&id=1tFtO1Wvlbsv5y_b0wqvo-ZCBgkNvZ9xI"" alt="">  
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1pjHemTnmVMUzvL-FTrYdzSacBB4-kLqm" alt="">
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1b7HPy4oCRRJPhD3WvvaElgA8xmDUm1uw" alt="">    
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1zvJ-eVeEVLKT1hd6vBmIPPqgSfC_2YkT" alt="">
                                
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1TDejvYpdHZi_ePRM4XGylFK-gMpnwOc-" alt="">
                                
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=144TAAX9l3Lb6soptIA3YI59uiHjNXbeC" alt="">
                                
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1NYFI-vPOrZAuYBnV2lmphdGlFu-cbA_q" alt="">
                                
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1SmS_Pzz4InfdKcU0Mp6L-z4Vlpr5XVA1" alt="">
                                
                            </li>
                        </ul>
                    </div>


                    <div class="fh5co-tab-content tab-content" data-tab-content="3">
                        <ul class="class-schedule">
                            <li class="text-center">
                                <img width="100%" height="100%" src="https://drive.google.com/uc?export=view&id=1bJTUczKWJgpBH_gPfoBnHoJHGt4YNUu7" alt="">  
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1_20oCh96z5_Mb7YC8ZmFhbfZbZ1PE-Eb" alt="">
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1nuYc6CDJVRh5EIr28-9eoJlUHN6507C2" alt="">    
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1gOBOSsV-UUjvez1PBxIWkPfXzEnD2o6A" alt="">
                                
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=16t7DGpk3e9PVYgrF6P2frebG2lbU07Ge" alt="">
                                
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1U9agL0RD3xfNas1bjB6HVc8aTDtuj-Ko" alt="">
                                
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1UefmnA6ScLeTHP7B4iKTtgJ7hIKQfHCN" alt="">
                                
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1Pn-HTIGgl7C2KcGbE4X6UOZQ1AibjHus" alt="">
                                
                            </li>
                        </ul>
                    </div>
                    <div class="fh5co-tab-content tab-content" data-tab-content="4">
                        <ul class="class-schedule">
                            <li class="text-center">
                                <img width="100%" height="100%" src="https://drive.google.com/uc?export=view&id=1jf-1HEjS5NvrkyOtPaecNSjIbGttDbLf" alt="">  
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1-H3CYLRY-dA-Y_m1Mxb8k901crQFSyCG" alt="">
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1TLlfMXUmMm_fDbHKXlxc2iHrR7tX1Y2O" alt="">    
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=11Q_IIIF56VCeqBFpGI-nlzTI3cUKp3tg" alt="">
                                
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1pHaCE-GxWBvt8y25KsSPY1r29Rw0Ibp1" alt="">
                                
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1jK_BvFG4K53h8R9Og4ncaa9hSJAhYJq9" alt="">
                                
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1BPAVnVQisQiOG2LXf0gwvGrYnT0vNlcY" alt="">
                                
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1AY9WuQ7VPG2iy1rOuINQGa4-21STiJGe" alt="">
                                
                            </li>
                        </ul>
                    </div>
                    <div class="fh5co-tab-content tab-content" data-tab-content="5">
                        <ul class="class-schedule">
                            <li class="text-center">
                                <img width="100%" height="100%" src="https://drive.google.com/uc?export=view&id=1U7XYxQDINX_s6lvm-Zx4f4gYbXZo_FdG" alt="">  
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%" src="https://drive.google.com/uc?export=view&id=1r-ioElnvzx--soCCQ9Zoy8cxqMnCvQwX" alt="">
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=18ZYdcoqcTgi1TSNdj42z4rDWXLGT3y0G" alt="">    
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1J18m8zkthp5GEWWuOAsdRTCR4qESNV_j" alt="">
                                
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=13iD5M078_Kh3S4VimuA9peDUXD4hhEjd" alt="">
                                
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1DK10TNYX2XHR0_rK1L_QUpzHxGwceenB" alt="">
                                
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1DYKsjCjHVZIEl7RtDDCB4ks3A799cVDy" alt="">
                                
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1OxO-ARLCWIshaFHdGbmS0nYEYGVG2m6V" alt="">
                                
                            </li>
                        </ul>
                    </div>
                    <div class="fh5co-tab-content tab-content" data-tab-content="6">
                        <ul class="class-schedule">
                            <li class="text-center">
                                <img width="100%" height="100%" src="https://drive.google.com/uc?export=view&id=1I-WE7NX3VRvT7o5sFeyc6wExletldKaF" alt="">  
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1j1UrcwOXgpKq0P6JVxqW7bg3ms5q4HDP" alt="">
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1iDeZImbcZwL30K3az7ANhzDoVDVhlDNU" alt="">    
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1OiIuPcpaOyQPaIBbWHPNCC-eBCjXolv_" alt="">
                                
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1nwrSRrbD9D0-Qr9B5QnzMSyw8who65ch" alt="">
                                
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1qtnXAyGx4epfnmBlXYcmdQVhH89xcJ_e" alt="">
                                
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1UefmnA6ScLeTHP7B4iKTtgJ7hIKQfHCN" alt="">
                                
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1OiIuPcpaOyQPaIBbWHPNCC-eBCjXolv_" alt="">
                                
                            </li>
                        </ul>
                    </div>
                    <div class="fh5co-tab-content tab-content" data-tab-content="7">
                        <ul class="class-schedule">
                            <li class="text-center">
                                <img width="100%" height="100%" src="https://drive.google.com/uc?export=view&id=1bJTUczKWJgpBH_gPfoBnHoJHGt4YNUu7" alt="">  
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1_20oCh96z5_Mb7YC8ZmFhbfZbZ1PE-Eb" alt="">
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1nuYc6CDJVRh5EIr28-9eoJlUHN6507C2" alt="">    
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1gOBOSsV-UUjvez1PBxIWkPfXzEnD2o6A" alt="">
                                
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=16t7DGpk3e9PVYgrF6P2frebG2lbU07Ge" alt="">
                                
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1U9agL0RD3xfNas1bjB6HVc8aTDtuj-Ko" alt="">
                                
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1UefmnA6ScLeTHP7B4iKTtgJ7hIKQfHCN" alt="">
                                
                            </li>
                            <li class="text-center">
                                <img width="100%" height="100%"  src="https://drive.google.com/uc?export=view&id=1Pn-HTIGgl7C2KcGbE4X6UOZQ1AibjHus" alt="">
                                
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-pricing">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Pricing Plan</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>
        <div class="row">
            <div class="pricing">
                <div class="col-md-3 animate-box">
                    <div class="price-box">
                        <h2 class="pricing-plan">Starter</h2>
                        <div class="price"><sup class="currency">₹</sup>500<small>/month</small></div>
                        <ul class="classes">
                            <li>15 Cardio Classes</li>
                            <li class="color">10 Swimming Lesson</li>
                            <li>10 Yoga Classes</li>
                            <li class="color">10 Aerobics</li>
                            <li>10 Zumba Classes</li>
                            <li class="color">5 Massage</li>
                            <li>10 Body Building</li>
                        </ul>
                        <a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
                    </div>
                </div>

                <div class="col-md-3 animate-box">
                    <div class="price-box">
                        <h2 class="pricing-plan">Basic</h2>
                        <div class="price"><sup class="currency">₹</sup>750<small>/month</small></div>
                        <ul class="classes">
                            <li>18 Cardio Classes</li>
                            <li class="color">12 Swimming Lesson</li>
                            <li>12 Yoga Classes</li>
                            <li class="color">12 Aerobics</li>
                            <li>12 Zumba Classes</li>
                            <li class="color">5 Massage</li>
                            <li>12 Body Building</li>
                        </ul>
                        <a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
                    </div>
                </div>

                <div class="col-md-3 animate-box">
                    <div class="price-box popular">
                        <h2 class="pricing-plan pricing-plan-offer">Pro <span>Best Offer</span></h2>
                        <div class="price"><sup class="currency">₹</sup>1000<small>/month</small></div>
                        <ul class="classes">
                            <li>20 Cardio Classes</li>
                            <li class="color">15 Swimming Lesson</li>
                            <li>15 Yoga Classes</li>
                            <li class="color">15 Aerobics</li>
                            <li>15 Zumba Classes</li>
                            <li class="color">5 Massage</li>
                            <li>15 Body Building</li>
                        </ul>
                        <a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
                    </div>
                </div>

                <div class="col-md-3 animate-box">
                    <div class="price-box">
                        <h2 class="pricing-plan">Unlimited</h2>
                        <div class="price"><sup class="currency">₹</sup>1500<small>/month</small></div>
                        <ul class="classes">
                            <li>24 Cardio Classes</li>
                            <li class="color">18 Swimming Lesson</li>
                            <li>18 Yoga Classes</li>
                            <li class="color">18 Aerobics</li>
                            <li>18 Zumba Classes</li>
                            <li class="color">5 Massage</li>
                            <li>18 Body Building</li>
                        </ul>
                        <a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <h2>Gym gallery</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row row-bottom-padded-md">
            <div class="col-md-12">
                <ul id="fh5co-portfolio-list">

                    <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(https://wallpaperaccess.com/full/804846.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                
                                <h4 style="color: white;">“Strength does not come from physical capacity. It comes from an indomitable will.”</h4>
                            </div>
                        </a>
                    </li>
                    <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(https://wallpaperaccess.com/full/5595925.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                
                                <h4 style="color: white;">“Success usually comes to those who are too busy to be looking for it.”</h4>
                            </div>
                        </a>
                    </li>

                    <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(https://tse1.mm.bing.net/th?id=OIP.iTka4KU61wQZ8IjNJ3yCzwHaEo&pid=Api&P=0&h=220); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                
                                <h4 style="color: white;">“If you want something you’ve never had, you must be willing to do something you’ve never done.”</h4>
                            </div>
                        </a>
                    </li>

                    <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(https://tse4.explicit.bing.net/th?id=OIP.Ee5laZWiOuoboULs7O3dhAHaEK&pid=Api&P=0&h=220); "> 
                        <a href="#">
                            <div class="case-studies-summary">
                                
                                <h4 style="color: white;">“Once you are exercising regularly, the hardest thing is to stop it.”</h4>
                            </div>
                        </a>
                    </li>
                    <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(https://tse1.mm.bing.net/th?id=OIP.iTka4KU61wQZ8IjNJ3yCzwHaEo&pid=Api&P=0&h=220); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                
                                <h4 style="color: white;">“If you don’t make time for exercise, you’ll probably have to make time for illness.”</h4>
                            </div>
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(https://wallpapercave.com/wp/wp9346263.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                
                                <h4 style="color: white;">“Dead last finish is greater than did not finish, which trumps did not start.”</h4>
                            </div>
                        </a>
                    </li>
                    <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(http://getwallpapers.com/wallpaper/full/e/7/6/200253.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                
                                <h4 style="color: white;">“Rome wasn’t built in a day, but they worked on it every single day.”</h4>
                            </div>
                        </a>
                    </li>
                </ul>		
            </div>
        </div>
    </div>
</div>

<div id="fh5co-testimonial" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Happy Clients</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row animate-box">
                    <div class="owl-carousel owl-carousel-fullwidth">
                        <div class="item">
                            <div class="testimony-slide active text-center">
                                <figure>
                                    <img src="images/person3.jpg" alt="user">
                                </figure>
                                <span>Mohit verma <a href="#" class="twitter">Twitter</a></span>
                                <blockquote>
                                    <p>&ldquo;word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-slide active text-center">
                                <figure>
                                    <img src="images/person3.jpg" alt="user">
                                </figure>
                                <span> Arya Uttam <a href="#" class="twitter">Twitter</a></span>
                                <blockquote>
                                    <p>&ldquo;Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-slide active text-center">
                                <figure>
                                    <img src="images/person3.jpg" alt="user">
                                </figure>
                                <span> CBUM <a href="#" class="twitter">Twitter</a></span>
                                <blockquote>
                                    <p>&ldquo;Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="fh5co-started" class="fh5co-bg" style="background-image: url(images/img_bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2>Fitness Classes this Summer <br> <span> Pay Now and <br> Get <span class="percent">35%</span> Discount</span></h2>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center">
                <p><a href="#" class="btn btn-default btn-lg">Become a Member</a></p>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-blog" class="fh5co-bg-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <h2>Recent Blog</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>
        <div class="row row-bottom-padded-md">
            <div class="col-lg-4 col-md-4">
                <div class="fh5co-blog animate-box">
                    <a href="#"><img class="img-responsive" src="images/gallery-4.jpg" alt=""></a>
                    <div class="blog-text">
                        <h3><a href=""#>45 Minimal Worksspace Rooms for Web Savvys</a></h3>
                        <span class="posted_on">Sep. 15th</span>
                        <span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div> 
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="fh5co-blog animate-box">
                    <a href="#"><img class="img-responsive" src="images/gallery-2.jpg" alt=""></a>
                    <div class="blog-text">
                        <h3><a href=""#>45 Minimal Worksspace Rooms for Web Savvys</a></h3>
                        <span class="posted_on">Sep. 15th</span>
                        <span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div> 
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="fh5co-blog animate-box">
                    <a href="#"><img class="img-responsive" src="images/gallery-3.jpg" alt=""></a>
                    <div class="blog-text">
                        <h3><a href=""#>45 Minimal Worksspace Rooms for Web Savvys</a></h3>
                        <span class="posted_on">Sep. 15th</span>
                        <span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./partial/footer')%>