@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    cursor: pointer;
}

/* to cover full image in background */
html {
    background: url('../images/logIN.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(53, 53, 53, 0.596);
    width: 430px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 25px 30px;
}

.container .forms {
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;

}


.container .form {
    width: 50%;
    padding: 30px;
    transition: margin-left 0.18s ease;
}

.container.active .login {
    margin-left: -50%;
    /* opacity: 0; */
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup {
    /* opacity: 0; */
    transition: opacity 0.09s ease;
}

.container.active .signup {
    /* opacity: 1; */
    transition: opacity 0.2s ease;
}

.container.active .forms {
    height: 600px;
}

.container .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
    color: #cc450b;
}

.form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #ef0e0e;
    /* background-color: black; */
    border-radius: 25px;
}

.form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    border-bottom-color: #F85A16;
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid)~i {
    color: #F85A16;
}

.input-field i.icon {
    left: 0;
}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin-right: 10px;
    accent-color: #F85A16;
}

.form .text {
    color: #ffffff;
    font-size: 14px;
}

.form a.text {
    color: #F85A16;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form button {
    height: 100%;
    width: 100%;
    border: none;
    color: #ffffff;
    ;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #F85A16;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #F85A16;
}

.form .login-signup {
    margin-top: 30px;
    text-align: center;
}

.error {
    border: 2px solid red;
    animation: shake 0.1s linear 10;
}

@keyframes shake {
    0% {
        border-color: red;
        transform: translate(0);
    }

    25% {
        border-color: red;
        transform: translate(-2px);
    }

    50% {
        border-color: red;
        transform: translate(0);
    }

    75% {
        border-color: red;
        transform: translate(2px);
    }

    100% {
        transform: translate(0);
    }
}