<div class="top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-right">
                <p class="num username">HELLO <%= username %> 👋
                </p>
                <ul class="fh5co-social">
                    <li><a href="logout">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>